{% extends "base.html" %}

{% block content%}
    <h1>Sign In</h1>
    {# action="": The action attribute specifies where to send the form data when the form is submitted. 
    By using novalidate, you're telling the browser to skip this validation
    #}
    <form action="" method="POST" novalidate>
        {# form.hidden_tag() in Flask-WTF is a convenient method to include all hidden fields 
            (most importantly, the CSRF token) in a form, which is essential for both functionality 
            (in case there are other hidden fields in use) and security (for CSRF protection) 
        #}
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }} <br>
            {{ form.username(size=32) }} <br>
            {% for error in form.username.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }} <br>
            {{ form.password(size=32) }} <br>
            {% for error in form.password.errors %}
            <span style="color: red;">[ {{ error }} ]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>

    </form>
{% endblock%}